<% provide(:title, 'About Us') %>
<h1>About</h1>
<h2>
    This is the Duff TimeCard app.  Employees can record their tasks and admins can generate reports based on this data.
    There are also REST API's to perform CRUD operations with JSON data, so it's possible to mine the data, and/or create alternate apps for your timecard entry pleasure.
</h2>