<footer class="footer">
    <small>
        <i>"slightly better than using Google Docs&#8482;"</i>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   about_path %></li>
        </ul>
    </nav>
</footer>